# Server
PORT=5000
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# MongoDB
MONGO_URI=

# Frontend URL
CLIENT_URL=

# JWT
JWT_SECRET=

# OWNER ONLY AUTH
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=



# Email (Contact Form)
EMAIL=yourmail@gmail.com
EMAIL_PASS=your_app_password
